.col {
    max-width: 250px; 
    border: 2px solid #007bff;
    padding-top: 30px;
    text-align: center;
    font-size: 6rem;
}

.row {
    height:200px;
    
}

#board {
    margin-top: 30px;
    margin: auto;
    width: 70%;
    font-family: 'Rock Salt', cursive;
}
#header{
    text-align: center;
   padding: 30px;
    height: 150px;
    font-family: 'Rock Salt', cursive;
   
}
h1 {
    font-size: 70px;
}

.container {
    margin-left: 50px;
    margin-top: 30px;
}

#board {
    display: none;
}